@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme{
  --color-dark-bg:'#282f44'
}

.slider-text-section{
  position: absolute;
  font-size: 25vh;
  bottom: 0;
  word-wrap: break-word;
  white-space: nowrap;
  color: #ffffff09;
  width:100%;
  font-weight: bold;
  overflow: hidden;

}
.proj-imgbx::before {
  content: "";
  background: #906387;
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
  z-index: 2;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
 
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
  z-index: 5;
}
@theme{
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 70rem;
  --breakpoint-2xl: 76rem;  
}
html, body {
  overflow-x: hidden;
  
}